/* global style */
*{
    margin:0;
    padding: 0;
    font-family: var(--font-family);
    /* border: 2px solid red; */
    box-sizing: border-box;
}
body{
    background-color: #f5f5f5;
}

/* golobal colors */
:root {
    /* colors */
        --main-bg-color:#0A233D;
        --secondary-bg-color:#1B3A5A;
        --title-color:#C6A15E;
        --black-text-color:#000000;
        --white-text-color:#ffffff;

    /* fonts */
        /* global font family */
        --font-family-global: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
        ---font-weight-global:bolder;
    
        /* medium titles */
        --medium-title-size:36px;

        /* small title style */
        --small-title-size:36px;

        /* text small */
        --small-title-size:24px;


        --small-title-color:#0A233D;
        --small-title-color:#0A233D;
    }

    /* first section  */
        /* first column */
         .col1{
            background-color: var(--main-bg-color);
            color: var(--white-text-color);
            height: 100vh;
            padding-top: 20px;
            /* display: flex; */
            /* justify-content: center; */
        }
            /* logo */
            .logo-container{
                margin-top: 15px;
                text-align: center;
                
            }
            .logo{
                width: 18vw;
                height: 20vh;
                margin: auto;
            }
            /* slogan */
            .slogan-container{
                margin-top: 10px;
                /* text-align: center; */
                
            }
            .slogan{
                 text-transform: uppercase;
                text-align: center;
                
                color: var(--title-color);
                letter-spacing: 0.5vw;
                font-size:1.6vw;
                font-weight: 450;
                word-spacing: 0.7vw; 
                
              
                
            }
            /* session title */
            .session-title-container{

            }
            .session-title{
                color: var(--title-color);
                text-transform: capitalize;
                padding-left: 5vw;
                padding-top: 5vh;
                font-size:1.6vw;
            }

            /* date title */
            .date-title-container{
                
            }
            .date-title{
                color: var(--title-color);
                padding-left: 5vw;
                font-size:2.6vw;

            }

            /* list */
            ul.list{
                padding-left: 4vw;
                font-size: 1.3vw ;
            }
            li {
                margin: 0;
                padding: 36px 0 5px 3vw;
                list-style: none;
                background-image: url("assets/icons/first section/first column/bullet-icon.svg");
                background-repeat: no-repeat;
                background-position: -1% 81%;
                background-size: 2em;
            }
            ul:first-child{
                padding: 40px;
            }

            
            /* media query for first section */
            /* Large desktops and laptops */
            @media (min-width: 1200px) {
                
            }
            /* Landscape tablets and medium desktops */
            @media (min-width: 992px) and (max-width: 1199px) {
                
            }
            
            /* Portrait tablets and small desktops */
            @media (min-width: 768px) and (max-width: 991px) {
                
                
                
            }
            
            /* Landscape phones and portrait tablets */
            @media (max-width: 767px) {
                
                /* list */
                ul.list{
                    padding-left: 4vw;
                    font-size: 1.6vw ;
                }
            }
            
            /* Portrait phones and smaller */
            @media (max-width: 576px) {

                .col1{
                    height: 33.5vh;
                    padding-top: 0;
                }
                /* logo */
                .logo-container{
                    margin-top: 0px;
                    text-align: center;
                    
                }
                .logo{
                    width: 20vw;
                    height: 20vh;
                    margin-left: 5vw;

                    
                }
                /* slogan */
                .slogan{
                    font-size:1.6vw;
                    margin-top: 12vh;
                    margin-left: -13vw;
                    text-align: left;
                    
                }
                 /* session title */
                .session-title{
                    padding-left: 10vw;
                    padding-top: 0vh;
                    font-size:3.59vw;
                }

                /* date title */
                .date-title{
                    padding-left: 10vw;
                    font-size:4.59vw;

                }

                /* list */
                ul.list{
                    display: none;
                }

}
            /* exta small   */
            @media (max-width: 460px) {

    .slogan{
        font-size:2vw;
        margin-top: 11.5vh;
        margin-left: -13vw;
       
        
    }
   
            }
            /* x x small */
            @media (max-width: 300px) {
                .slogan{
                    font-size:2.9vw;
                    margin-top: 9.5vh;
                    margin-left: -13vw;
                
                    
                }
                .session-title{
                    padding-top: 0vh;
                }


            }