/* global style */
*{
    margin:0;
    padding: 0;
    font-family: var(--font-family);
    /* border: 2px solid red; */
    box-sizing: border-box;
}
body{
    background-color: #f5f5f5;
}

/* golobal colors */
:root {
    /* colors */
        --main-bg-color:#0A233D;
        --secondary-bg-color:#1B3A5A;
        --title-color:#C6A15E;
        --black-text-color:#000000;
        --white-text-color:#ffffff;

    /* fonts */
        /* global font family */
        --font-family-global: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
        ---font-weight-global:bolder;
    
        /* medium titles */
        --medium-title-size:36px;

        /* small title style */
        --small-title-size:36px;

        /* text small */
        --small-title-size:24px;


        --small-title-color:#0A233D;
        --small-title-color:#0A233D;
    }

    /* first section  */
        /* first column */
         .col1{
            background-color: var(--main-bg-color);
            color: var(--white-text-color);
            height: 100vh;
            padding-top: 20px;
            /* display: flex; */
            /* justify-content: center; */
        }
            /* logo */
            .logo-container{
                margin-top: 15px;
                text-align: center;
                
            }
            .logo{
                width: 18vw;
                height: 20vh;
                margin: auto;
            }
            /* slogan */
            .slogan-container{
                margin-top: 10px;
                /* text-align: center; */
                
            }
            .slogan{
                 text-transform: uppercase;
                text-align: center;
                
                color: var(--title-color);
                letter-spacing: 0.5vw;
                font-size:1.6vw;
                font-weight: 450;
                word-spacing: 0.7vw; 
                
              
                
            }
            /* session title */
            .session-title-container{

            }
            .session-title{
                color: var(--title-color);
                text-transform: capitalize;
                padding-left: 5vw;
                padding-top: 5vh;
                font-size:1.6vw;
            }

            /* date title */
            .date-title-container{
                
            }
            .date-title{
                color: var(--title-color);
                padding-left: 5vw;
                font-size:2.6vw;

            }

            /* list */
            ul.list ,ul.list1{
                padding-left: 4vw;
                font-size: 1.3vw ;
            }
            ul.list > li , ul.list1 >li {
                margin: 0;
                padding: 36px 0 5px 3vw;
                list-style: none;
                background-image: url("assets/icons/first section/first column/bullet-icon.svg");
                background-repeat: no-repeat;
                background-position: -1% 81%;
                background-size: 2em;
            }
            ul.list:first-child , ul.list:first-child{
                padding: 40px;
            }
            
            /* Second column */
            .col2{
                background-image: url("assets/icons/first section/second column/col2-background.svg");
                background-size: cover;
                background-position: center center;
                height: 100vh;
            }
            .overlay{
                background-color: #19293979;
                width: 100%;
                height: 100%;
                padding: 70px 0 70px 0 ;
            }
            /* form */
            .form-label-group{
                padding: 0.5vh 0 -3vh 0 ;
                
                
            }
            label{
                color: var(--white-text-color);
                font-size: 0.9em;
            }
            .btn{
                background-color: var(--title-color);
                margin:10px 0 0 0;
                padding: 3% 10% 3% 10% ;
                
            }

            /* third column  */
            .col3{
                display: none;
                background-color: var(--main-bg-color);
                color: var(--white-text-color);
                height: 30vh;
            }
            /* list1 */
            ul.list1{
                font-size: 3.2vw ;
                display: none;
                
            }
            ul.list1 >li {
                padding: 25px 0 5px 4.8vw;
                background-size: 2.5em;
                font-weight: 500;
            }
            /* second section */
            .c1{
                background-image: url("assets/icons/second section/first column/column background.svg");
                background-size: cover;
                background-position: center center;
                height: 100vh;
            }
            
            /* media query for first section */
            /* Large desktops and laptops */
            @media (min-width: 1200px) {
                  /* media query for first section */
                    /* media query for second section */ 
            }
            /* Landscape tablets and medium desktops */
            @media (min-width: 992px) and (max-width: 1199px) {
                  /* media query for first section */
                    /* media query for second section */
            }
            
            /* Portrait tablets and small desktops */
            @media (min-width: 768px) and (max-width: 991px) {
                  /* media query for first section */
                  /* media query for second section */
            }
            
            /* Landscape phones and portrait tablets */
            @media (max-width: 767px) {
                  /* media query for first section */
                   
                  .session-title{
                      font-size:4vw;
                      padding-top: 5vh;
                    }
                    .date-title{
                    font-size:5vw;

                }
                
                /* col2 */
                /* overlay */
                .overlay{
                    padding: 30px 0 30px 0 ;
                }
                /* list */
                ul.list{
                    margin: 1.8vh 0  0;
                    padding-left: 5vw;
                    font-size: 2.1vw ;
                }

                
                  /* media query for second section */
            }
            
            /* Portrait phones and smaller */
            @media (max-width: 576px) {
                  /* media query for first section */
                .col1{
                    height: 33.5vh;
                    padding-top: 0;
                }
                /* logo */
                .logo-container{
                    margin-top: 0px;
                    text-align: center;
                    
                }
                .logo{
                    width: 20vw;
                    height: 20vh;
                    margin-left: 5vw;

                    
                }
                /* slogan */
                .slogan{
                    font-size:1.6vw;
                    margin-top: 12vh;
                    margin-left: -13vw;
                    text-align: left;
                    
                }
                 /* session title */
                .session-title{
                    font-size:3.59vw;
                    padding-left: 10vw;
                    padding-top: 0vh;
                }

                /* date title */
                .date-title{
                    padding-left: 10vw;
                    font-size:4.59vw;

                }

                /* list */
                ul.list{
                    display: none;
                }
            /* col2 */
            .overlay{
                padding: 50px 0 30px 0 ;
            }
            /* col3 */
            .col3{
                display: block;
            }
                    /* ul list1 */
                    ul.list1{
                        display:block;
                        font-size: 2.3vw;
                    }
                    ul.list1 >li {

                    }

}
            /* exta small   */
            @media (max-width: 460px) {
                  /* media query for first section */
                    .slogan{
                            font-size:2vw;
                            margin-top: 11.5vh;
                            margin-left: -13vw;
                        
                            
                        }
                  /* col3 */
                  /* list1 */
                     ul.list1 {
                        font-size: 2.5vw;
                    }
                    ul.list1 >li {
                        padding: 25px 0vw 5px 5.8vw;
                        background-size: 2.5em;
                        font-weight: 500;
                    }
                    
            }
            /* x x small */
            @media (max-width: 300px) {
                  /* media query for first section */
                .slogan{
                    font-size:2.9vw;
                    margin-top: 9.5vh;
                    margin-left: -13vw;
                
                    
                }
                .session-title{
                    padding-top: 0vh;
                }

                /* list1 */
                ul.list1 {
                    font-size: 3vw;
                }
                ul.list1 >li {
                    padding: 20px 0vw 5px 6.8vw;

                  /* media query for second section */
            }}